-- 1. Actualizar Restricción de Estado
ALTER TABLE public.maintenance_tickets DROP CONSTRAINT IF EXISTS maintenance_tickets_estado_check;
ALTER TABLE public.maintenance_tickets ADD CONSTRAINT maintenance_tickets_estado_check 
CHECK (estado IN ('Pendiente', 'Asignado', 'En Proceso', 'Resuelto'));

-- 2. Asegurar que las notas existan
DO \$\$ 
BEGIN 
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='maintenance_tickets' AND column_name='notas_resolucion') THEN
        ALTER TABLE public.maintenance_tickets ADD COLUMN notas_resolucion TEXT;
    END IF;
END \$\$;
